/* Google Font */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Noto Sans Gujarati',sans-serif;
    background:#eef2f7;
}

.container{
    display:flex;
    min-height:100vh;
}

/* ===========================
   LEFT PANEL
=========================== */

.left-panel{
    width:360px;
    background:#ffffff;
    padding:30px;
    box-shadow:0 0 25px rgba(0,0,0,.10);
}

.logo{
    width:100px;
    display:block;
    margin:auto;
}

.left-panel h1{
    text-align:center;
    color:#166534;
    margin-top:15px;
    font-size:28px;
}

.subtitle{
    text-align:center;
    color:#777;
    margin:10px 0 25px;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
}

input{
    width:100%;
    padding:13px;
    border:1px solid #d7d7d7;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

input:focus{
    border-color:#D4AF37;
}

.upload-box{
    border:2px dashed #D4AF37;
    border-radius:15px;
    padding:25px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
}

.upload-box:hover{
    background:#fffdf4;
}

.upload-icon{
    font-size:45px;
    margin-bottom:10px;
}

button{
    width:100%;
    border:none;
    border-radius:12px;
    padding:15px;
    margin-top:15px;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    transform:translateY(-2px);
}

#generateBtn{
    background:#198754;
}

#downloadBtn{
    background:#0d6efd;
}

#shareBtn{
    background:#25D366;
}

/* ===========================
   RIGHT PANEL
=========================== */

.right-panel{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    background:#edf1f5;
}

/* Card */

#card{

    width:420px;
    aspect-ratio:1/1;

    border-radius:25px;

    overflow:hidden;

    position:relative;

    box-shadow:0 20px 40px rgba(0,0,0,.20);

    background:#ffffff;

}
